@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@350&display=swap');


.book .book-summary {
  background: #2A415F!important;
}


.book .book-body {
  background: #496282!important;
}

/*____font in menu____*/
.book .book-summary ul.summary li, 
.book .book-summary ul.summary li a, 
.book .book-summary ul.summary li span,
.book .book-summary ul.summary li.active a, 
.book .book-summary ul.summary li.done > a, 
.book .book-summary ul.summary li a:hover,
.book .book-summary ul.summary li i.fa-check {
  color: #e8f1f2;
}

/*____hover over menu____*/
.book .book-summary ul.summary li a:hover {
  background: #393A3B;
  text-decoration: none;
}

.book .book-body .book-summary ul.summary li a.gitbook-link {
  color: #e9eef2;
}


.book .book-summary ul.summary li.done i.fa-check
{
  display: none;
}


/*____Code Chunk Colour____*/
pre {
    border: 1px solid #cccccc !important;
    border-color: #cccccc ;
    page-break-inside: avoid;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}


.sourceCode { color: #5c7ba3 !important; } /* NormalTok*/
.sourceCode .kw { color: #5c7ba3 !important; } /* KeyWordTok*/
.sourceCode .dt { color: #5c7ba3!important; } /* Data Type Tok*/
.sourceCode .dv, .sourceCode .bn, .sourceCode .fl { color: #5c7ba3 !important; } /*DecValTok = dv, BaseNTok = bn, FloatTok = fl */
.sourceCode .ch { color: #5c7ba3 !important; } /*. CharTok*/
.sourceCode .st { color: #5c7ba3 !important; } /*.StringTok */
.sourceCode .co { color: #5c7ba3 !important; } /*.CommontTok */
.sourceCode .ot { color: #5c7ba3!important; } /*.OtherTok */
.sourceCode .al { color: #BE531C !important; font-weight: bold; } /*.AlertTok */
.sourceCode .fu { color: #5c7ba3!important; } /*.FunctionTok  */
.sourceCode .re { color: #5c7ba3!important; } /*.RegionMarkerTok */
.sourceCode .er { color: #5c7ba3 !important; font-weight: bold; } /*.ErrorTok */




/*____Table caption at bottom____*/
table { caption-side: bottom }

/*____Change fonts to Lexend___*/
@font-face {
  font-family: "Lexend";
}



h1 {
  font-family: "Lexend";
  font-size:   48px;
}


h2,h3,h4 {
  font-family: "Lexend";
  font-size:   24px;
}

.book.font-family-0 {
  font-family: "Lexend";
}

.book.font-family-1 {
  font-family: "Lexend";
}

.summary{
font-family: "Lexend";
}


li.appendix span, li.part span { /* for TOC part names */
  font-family: "Lexend";
  margin-top: 1.5em;
  opacity: 1 !important;
  text-transform: uppercase;
}

/*____Code Chunks____*/

.sourceCode pre {
  margin: 0 !important; /* makes space above and below symmetrical*/
  font-family: "Lexend";
  font-size:   16px;
  font-weight: normal;
}

.sourceCode {
  margin-bottom: 0.85em; /* adds same amount of margin as a <p> would */
}

/*____Center images____*/
img {
    display: block;
    margin: auto;
    text-align: center;
}


/*____Center captions____*/
.caption {
    width: --line-width;
    text-align: center;
}



/* -----------Sidebar div tips------------- */
/* from r-pkgs.org*/

  div.bulb {
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    min-height: 110px;
    color: #ffffff;
    background-color: #2A415F;
    border: solid 5px #95A0AF;
    background-image: url("files/bulb.png") !important;
  }

  div.warning {
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    min-height: 110px;
    color: #000000;
    background-color: #F2C55A;
    border: solid 5px #FBECC8;
    background-image: url("files/warning.png") !important;
  }
  
  div.stop {
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    min-height: 100px;
    color: #ffffff;
    background-color: #A73849;
    border: solid 5px #CE919A;
    background-image: url("files/stop.png") !important;
  }

  div.puzzle {
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    min-height: 110px;
    color: #000000;
    background-color: #E2B86C;
    border: solid 5px #F7EBD5;
    background-image: url("files/puzzle_black.png") !important;
  }

